heading {
    font: 16 "Ariel";
    margin: 20px
}
body {
    font: 12 "Ariel";
    margin: 25px
}
.carousel-inner img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .carouselImages .carousel-item {
    height: 300px;
  }
  .carousel-inner {
      height: 300px;
      margin-top: 10px;
      overflow: hidden;
  }